# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/

# Production build
build/

# Env files
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor files
.DS_Store
Thumbs.db

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo

# Cache
.cache/
.next/cache/

# VSCode
.vscode/*
